
.mdl-layout__header {
	background-color:black;
	border-bottom: yellow;
}

.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
  padding-right: 0;
}

.my-title-style {
	color:yellow;
	font-family: serif;
	font-size: 42px;
	font-weight: bold;
}

.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
  padding-right: 0;

 }

.nav-link-style-1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
 }


 .mdl-mini-footer {
 	background-color:black;
 }

.mdl-button {
	font-weight: bold; 
}

.background {
  background: url("assets/coworking.jpg");
  border: 2px solid black;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}